*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(4, 107, 130), rgb(20, 35, 48));
}

form{
    background-color: rgb(4, 107, 130);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px 35px;
    box-shadow: 0 5px 5px 5px #252525;
}

form .title{
    margin-bottom: 22px;
    font-size: 50px;
    font-weight: 800;
    color: #252525;
}

form label {
    margin-top: 25px;
}

form label .fa-solid, form label .fa-regular{
    font-size: 20px;
    color: rgb(20, 35, 48);
    margin-right: 15px;
}

form label input{
    outline: none;
    border: none;
    border-bottom: 1px solid #252525;
    height: 24px;
}

form label input::placeholder{
    color: #252525;
    font-size: 16px;
}
form .link {
    margin-top: 25px;
    font-size: 18px;
    color: black;
}

form button {
    color: #fff;
    background: linear-gradient(to bottom, rgb(4, 107, 130), rgb(20, 35, 48));
    margin-top: 25px;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 20px;
    
}


